@import "variables";

:host {
  display: block;
  padding: 0 0 30px 0;
}

h2 {
  padding: 0 0 10px 0;
  margin: 0;
  color: $color-persimmon;

  a {
    color: $color-persimmon;
    text-decoration: none;
  }
}

h3 {
  font-size: 14px;
  font-weight: 400;
  color: $color-kimberly;
  padding: 0 0 10px 0;
  margin: 0;

  .username {
    font-style: italic;
  }
}

.show-more {
  margin: 0 0 10px 0;

  a {
    display: inline-block;
    text-decoration: none;
    color: $color-au-chico;
    font-weight: 700;

    &::after {
      content: " »";
    }

    &:hover {
      color: $color-persimmon;
    }
  }
}

.tags {
  font-size: .8em;
}
