<div class="post">
  <h2>
    <a [routerLink]="['/view/post', item.id]" *ngIf="!standalone">
      {{ item.title }}
    </a>
    <span *ngIf="standalone">
      {{ item.title }}
    </span>
  </h2>
  <h3>
    by
    <span class="username">
      {{ item.user.name }}
    </span>
    in category
    <a [routerLink]="['/view/category', item.category.slug]" class="category">
      {{ item.category.name}}
    </a>
  </h3>
  <div
    class="body"
    [appMarkdown]="text"
  ></div>
  <div *ngIf="truncated" class="show-more">
    <a [routerLink]="['/view/post', item.id]">show more</a>
  </div>
  <div class="tags">
    <span *ngFor="let tag of item.tags; let last = last">
      <a href="#TODO">{{ tag.name }}</a>{{ last ? '' : ','}}
    </span>
  </div>
</div>
