<h2>
  categories
</h2>

<app-loader
  class="small inline desaturated"
  *ngIf="isLoading"
></app-loader>

<ul *ngIf="items.length">
  <li
    *ngFor="let item of items"
    [class.active]="postsService.currentCategorySlug === item.slug"
  >
    <a [routerLink]="['/view/category', item.slug]" class="category-link">
      {{ item.name }}
    </a>
  </li>
</ul>

<p class="no-tags" *ngIf="!items.length && itemsLoaded">
  No categories
</p>

<p class="error" *ngIf="isBroken">
  Could not load categories.
</p>
