a {
  color: var(--kimberly);
  text-decoration: underline;

  &:visited {
    filter: grayscale(100%);
  }

  &:hover {
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

.translucent {
  opacity: .5;
  filter: blur(1px);
  pointer-events: none;
}
