/* Coolors Exported Palette - coolors.co/885053-fe5f55-777da7-94c9a9-c6ecae */

$color0: #333;
$color1: rgba(136, 80, 83, 1);
$color2: rgba(254, 95, 85, 1);
$color3: rgba(119, 125, 167, 1);
$color4: rgba(148, 201, 169, 1);
$color5: rgba(198, 236, 174, 1);
