<h2>
  blog archive
</h2>

<app-loader
  class="small inline desaturated"
  *ngIf="isItemsLoading"
></app-loader>

<form>
  <ul>
    <li *ngFor="let archiveYear of items" [class.opened]="openedYears.includes(archiveYear.year)">
      <i class="arrow"></i>
      <a href="#" (click)="onYearToggleClick(archiveYear.year); false" class="year-link">
        {{ archiveYear.year }}
      </a>
      <span class="count">
        ({{ archiveYear.count }})
      </span>

      <!--region months-->
      <ul *ngIf="openedYears.includes(archiveYear.year)">
        <li *ngFor="let archiveMonth of archiveYear.months" [class.opened]="currentArchiveTitles.length && openedMonth === archiveMonth.id">
          <i class="arrow"></i>
          <a href="#" (click)="onMonthToggleClick(archiveMonth); false" class="month-link">
            {{ archiveMonth.month | monthName}}
          </a>
          <span class="count">
            ({{ archiveMonth.count }})
          </span>

          <app-loader
            class="tiny inline desaturated"
            *ngIf="isTitlesLoading === archiveMonth.id"
          ></app-loader>

          <!--region post titles -->
          <ul *ngIf="currentArchiveTitles.length && openedMonth === archiveMonth.id && !isTitlesLoading">
            <li *ngFor="let archiveTitle of currentArchiveTitles" class="post-title">
              <a [routerLink]="['post', archiveTitle.id]" [title]="archiveTitle.title">
                {{ archiveTitle.title }}
              </a>
            </li>
          </ul>
          <!--endregion post titles-->
        </li>
      </ul>
      <!--endregion months-->
    </li>
  </ul>
</form>
