<h2 class="foo">
  tags
</h2>

<app-loader
  class="small inline desaturated"
  *ngIf="isLoading"
></app-loader>

<ul *ngIf="items.length">
  <li
    *ngFor="let item of items"
    [class.hidden]="!item.posts"
    [class.active]="postsService.currentTagSlug === item.slug"
  >
    <a [routerLink]="['/view/tag', item.slug]" class="tag-link">
      {{ item.name }}
    </a><span class="posts-count">
      ({{ item.posts }})
    </span>
  </li>
</ul>

<p class="no-tags" *ngIf="!items.length && itemsLoaded">
  No categories
</p>

<p class="error" *ngIf="isBroken">
  Could not load tags.
</p>
