@import "common";
@import "widgets";
@import "variables";

li, .tag-link, .posts-count {
  display: inline-block;
}

li {
  padding: 0 3px 0 0;

  &.active {
    a {
      color: $color-persimmon;
      text-decoration: none;
    }
    span {
      opacity: .5;
    }
  }
}

.posts-count {
  font-size: .8em;
}
