/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-layout {
  display: flex;

  &__content {
    flex: 1 0;
  }
}
