@import "styles/variables";
@import "styles/common";

// do NOT move this to variables.scss, those are includable
:root {
  --color-0: $color0;
  --dark-gray: $color0;

  --color-1: $color1;
  --au-chico: $color1;

  --color-2: $color2;
  --persimmon: $color2;

  --color-3: $color3;
  --kimberly: $color3;

  --color-4: $color4;
  --shadow-green: $color4;

  --color-5: $color5;
  --tea-green: $color5;
}


html {
  font-family: Arial, sans-serif;
}

body {
  background-color: #444;
}

.main-layout {
  display: flex;
  min-height: 500px;

  &__content {
    position: relative;
    flex: 1 0;
    padding: 20px 10px 10px;
  }
}

.markdown-body {
  p {
    margin: 0 0 15px 0;
  }
}
