/* Coolors Exported Palette - coolors.co/885053-fe5f55-777da7-94c9a9-c6ecae */

$color1: rgba(136, 80, 83, 1);
$color2: rgba(254, 95, 85, 1);
$color3: rgba(119, 125, 167, 1);
$color4: rgba(148, 201, 169, 1);
$color5: rgba(198, 236, 174, 1);

:root {
  --color-1: $color1;
  --au-chico: $color1;

  --color-2: $color2;
  --persimmon: $color2;

  --color-3: $color3;
  --kimberly: $color3;

  --color-4: $color4;
  --shadow-green: $color4;

  --color-5: $color5;
  --tea-green: $color5;
}
